<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">


<!--    <bean id="coffeeService" class="geektime.spring.springbucks.service.CoffeeService" />-->
    <bean id="coffeeOrderService" class="geektime.spring.springbucks.service.CoffeeOrderService" >
        <property name="coffeeService" ref="coffeeService" />
    </bean>

</beans>